<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Contributions</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_contributions}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Near Earth Asteroids</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{count_neo}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Main Belt Asteroids</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{main_belt}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h6 class="card-title">Average diameter(m) of NEO asteroids</h6>
			  	</div>
			  	<div class="card-body">
			    	<p class="card-title">{{average_diameter}}</p>
			  	</div>

			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h6 class="card-title">Maximum number of asteroids discovered by a user</h6>
			  	</div>
			  	<div class="card-body">
			    	<h6 class="card-title">{{max_queryset}} </h6>
			  	</div>

			</div>
		</div>
	</div>
</div>