<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">

</head>


<body>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
var mybutton = document.getElementById("myBtn");


window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
<link rel="shortcut icon" type="image/x-icon" href="Saturnn.ico">
   <title>Sistemul solar</title>
   
   <div class="sticky"><a href="jolie-home.html"><img src="sun.png" alt="sun" width="95" height="95" align="left" ></a></div>
<div class="sticky">
<a href="jolie-home.html"><img src="mooon.png" alt="moon" width="120" height="90"  align="right" style="padding-left:50px;" ></a>
</div>

<div class="header">

<div id="titlu"> Sistemul Solar</div>


<div class="dropdown">
  <button class="dropbtn">Teorie</button>
  <div class="dropdown-content">
<a href="istorie.html"> Scurtă istorie a timpului &#x23F2;</a>
<a href="Soare.html">Soarele &#x2600;</a>
<a href="planete.html">Planete &#x2646;</a>
<a href="corps.html">Corpuri cerești &#x2604;</a> 
<a href="lansare.html">3,2,1.... lansare! &#x1F680; </a> 
<a href="pamant.html">Planeta noastră stranie  &#x2641;</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Aplicații</button>
   <div class="dropdown-content">
<a href="lumin.html">Luminozitatea stelară</a>
<a href="viteze.html">Gravitație și viteze cosmice</a>
<a href="varsta.html">Calcularea vârstei unei stele</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Contact | Sugestii | Reclamații</button>
   <div class="dropdown-content">
<a href="contact.php">Contactează autorul</a>



</div>
</div>
</div>

<div id="main" name="principal">
<div id="corp"><h1 align="center">Corpuri cerești </h1></div> <br><br>


 
<div class="container">

 <img src="cometa.jpg"  style="width:24%; padding:5px; border-radius: 140px;">
 <div class="overlay">
    <div class="text">Comete</div>
  </div>
</div>

<div class="container">

 <img src="satelit.png"  style="width:25%; padding:5px;" >
 <div class="overlay">
    <div class="text">Sateliți artificiali</div>
  </div>
</div>

<div class="container">

  <img src="asta.png"  style="width:25%; padding:5px;" >
 <div class="overlay">
    <div class="text">Asteroizi</div>
  </div>
</div>


<div class="container">

  <img src="luna.png"  style="width:20%; margin-bottom:20px;" >
 <div class="overlay">
    <div class="text">Sateliți naturali</div>
  </div>
</div>

<br><br><br><br>

<div class="container">

  <img src="pulsar.jpg"  style="width:25%; padding:5px; border-radius: 140px;" >
 <div class="overlay">
    <div class="text">Pulsari</div>
  </div>
</div>
<div class="container">

  <img src="orion.png"  style="width:25%; padding:5px; margin-top:10px;" >
 <div class="overlay">
    <div class="text">Stele</div>
  </div>
</div>

<div class="container">

  <img src="cluster.jpg"  style="width:20%;border-radius: 140px;">
 <div class="overlay">
    <div class="text">Roiuri de stele</div>
  </div>
</div>
<div class="container">

    <img src="neb.png"  style="width:20%; margin-bottom:60px; margin-left:20px; border-radius:140px;">	
 <div class="overlay">
    <div class="text">Nebuloase</div>
  </div>
</div>

<br><br><br><br>
<div class="container">

    <img src="black.jpg"  style="width:25%; padding:5px; border-radius: 140px; margin-top:10px;"  >
 <div class="overlay">
    <div class="text"> Găuri negre</div>
  </div>
</div>

<div class="container">

    <img src="galaxie.jpg"  style="width:25%; margin-bottom:30px; border-radius:140px;">	
 <div class="overlay">
    <div class="text">Galaxii</div>
  </div>
</div>
<div class="container">

    <img src="exo.png"  style="width:25%; margin-bottom:60px; ">	
 <div class="overlay">
    <div class="text">Exoplanete</div>
  </div>
</div>
<div class="container">

    <img src="rad.png"  style="width:20%; margin-bottom:60px; ">	
 <div class="overlay">
    <div class="text"><h5 style="font-family:Calibri;">Radiația cosmică de fond</h5></div>
  </div>
</div>


<br><br><br><br><br><br><br>


</div>
</body>
</html>