<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">

</head>


<body>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<script>
var mybutton = document.getElementById("myBtn");


window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<link rel="shortcut icon" type="image/x-icon" href="Saturnn.ico">
   <title>Sistemul solar</title>
   
   <div class="sticky"><a href="jolie-home.html"><img src="sun.png" alt="sun" width="95" height="95" align="left" ></a></div>
<div class="sticky">
<a href="jolie-home.html"><img src="mooon.png" alt="moon" width="120" height="90"  align="right" style="padding-left:50px;" ></a>
</div>


<div class="header">

<div id="titlu"> Sistemul Solar</div>


<div class="dropdown">
  <button class="dropbtn">Teorie</button>
  <div class="dropdown-content">
<a href="istorie.html"> Scurtă istorie a timpului &#x23F2;</a>
<a href="Soare.html">Soarele &#x2600;</a>
<a href="planete.html">Planete &#x2646;</a>
<a href="corps.html">Corpuri cerești &#x2604;</a> 
<a href="lansare.html">3,2,1.... lansare! &#x1F680; </a> 
<a href="pamant.html">Planeta noastră stranie  &#x2641;</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Aplicații</button>
   <div class="dropdown-content">
<a href="lumin.html">Luminozitatea stelară</a>
<a href="viteze.html">Gravitație și viteze cosmice</a>
<a href="varsta.html">Calcularea vârstei unei stele</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Contact | Sugestii | Reclamații</button>
   <div class="dropdown-content">
<a href="contact.php">Contactează autorul</a>


</div>
</div>
</div>

<div id="main" name="principal">

<div id="isto"><h1 align="center">Scurtă istorie a timpului</h1></div> <br><br>

<p>Apariția Universului este o problematică discutată din două perspective principale:
<div id="color" ><h4> - perspectiva religioasă/filozofică</h4></div>
<div id="color" ><h4> - perspectiva științifică</h4></div>
<br><br>
<div id="mesaj" ><h3> Perspectiva religioasă </h3></div>
<br>
<p>În religia creștină, Dumnezeu este unicul Creator al lumii văzute și nevăzute, este o entitate supremă care există dintotdeauna, 
nu are început și nici sfârșit. <i>Biblia</i> descrie în prima carte din <i>Vechiul Testament</i>, <i>Facerea</i>, procesul genezei. 
</p>
<p>Creația lumii s-a desfășurat în etape succesive timp de șase zile, după care Dumnezeu s-a odihnit și a binecuvântat ziua a șaptea:
</p>
 
  <p> <b> Prima zi: </b>Dumnezeu a creat lumina primordială.</p>
	
  <p> <b>Ziua a doua:</b> Dumnezeu a creat cerul .</p>
    <p><b>Ziua a treia:</b> Dumnezeu a creat Pământul.</p>
 <p> <b> Ziua a patra:</b> Dumnezeu a creat soarele, luna și stelele.</p>
   
<p><b> Ziua a cincea:</b> Dumnezeu a creat viețuitoarele mării. </p>
 <p><b>Ziua a șasea:</b> Dumnezeu a creat viețuitoarele pământului si pe om.</p>
 <p> <b>Ziua a șaptea: </b>Dumnezeu se odihnește.</p>
	
	
<br> <br>
<div class="dropdown1">
  <span><i>Noul Testament</i> despre Creație: Ioan 1:1-5 <b>(mai jos)</b></span>
   <div class="dropdown-content1">
       <div id="letter" > 
        1 La început era Cuvântul, şi Cuvântul era cu Dumnezeu, şi† Cuvântul era Dumnezeu††.
        <h6 align="right" >*Prov 8:22; Prov 8:23; Col 1:17; 1 Ioan 1:1; Apoc 1:2; Apoc 19:13; ** Prov 8:30; Ioan 17:5; 
         1 Ioan 1:2; † Fil 2:6; 1 Ioan 5:7; †† Gen 1:1;</h6>
        2 El era la început cu Dumnezeu.
        <h6 align="right">* Ps 33:6; Ioan 1:10; Efes 3:9; Col 1:16; Evr 1:2; Apoc 4:11;</h6>
         3 Toate lucrurile au fost făcute prin El; şi nimic din ce a fost făcut n-a fost făcut fără El.<br>
         4 În El era viaţa, şi viaţa era lumina oamenilor.
         <h6 align="right">* Ioan 5:26; 1 Ioan 5:11; ** Ioan 8:12; Ioan 9:5; Ioan 12:35; Ioan 12:46;</h6>
         5 Lumina luminează în întuneric, şi întunericul n-a biruit-o. 
         </div>
   </div>
</div>

<br>
<br><br>
<br>


<br>
<br>
<div id="mesaj" ><h3> Perspectiva științifică</h3></div>
<br>



<p>Universul a luat naştere în urma unei explozii enorme petrecute în urmă cu <b>13.7 miliarde de ani </b>
şi cunoscută sub numele de <i>Big-Bang</i>. 
Înainte de această explozie primordială nu exista nici timp, nici spaţiu, nici energie, nici materie.</p>

<p>Prima expansiune s-a petrecut cu o viteză mult mai mare decât cea a luminii şi poartă numele de
 inflaţie. Ulterior Universul a continuat să se extindă, dar cu o viteză mult redusă. 
 La temperaturile incredibil de mari şi în prezenţa energiilor enorme din acele clipe 
 de început, nimic, nici măcar materia nu era stabilă şi, pe cât de repede se putea forma, 
 pe atât de repede revenea la forma de energie pură.
</p>

<br>
<br>


<h1>De unde provenim?</h1> <br>
<table>
  <tr>
   <th><h5>Etape</h5></th>
    <th><h5>Timpul scurs de la momentul t=0</h5></th>
    <th><h5>Temperatura</h5></th>
  </tr>
  <tr>
    <td>1.Singularitate</td>
	 <td>0 s</td>
    <td>∞</td>
  </tr>
  <tr>
    <td>2.Era inflației</td>
    <td>10<sup>-32 </sup> s</td>
	 <td>300000 K</td>
  </tr>
  <tr>
    <td>3."Supa primordială"</td>
    <td>10<sup>-30 </sup> s </td>
	 <td>4000 K</td>
  </tr>
  <tr>
    <td>4.Era recombinarii</td>
    <td>  10<sup>20 </sup> ani</td>
	 <td>1000 K</td>
  </tr>
  <tr>
    <td>5.Era întunecată</td>
    <td>10<sup>10 </sup> ani</td>
	 <td>10 K</td>
  </tr>
  <tr>
    <td>6.Apariția primelor stele și galaxii</td>
    <td>12*10<sup>9 </sup> ani </td>
	 <td>0 K</td>
  </tr>
 



<div class="img" ><img src="istoria_univ.jpg" alt="istoria_universului" width="400" height="500"  align="right" style="margin-bottom:40px;"></div>

</table>
</div>
</body>
</html>