<html>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
</head>


<body>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>

var mybutton = document.getElementById("myBtn");


window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
<link rel="shortcut icon" type="image/x-icon" href="Saturnn.ico">
   <title>Sistemul solar</title>
   
   
<div class="sticky"><a href="index.html"><img src="sun.png" alt="sun" width="95" height="95" align="left" ></a></div>
<div class="sticky">
<a href="index.html"><img src="mooon.png" alt="moon" width="120" height="90"  align="right" style="padding-left:50px;" ></a>
</div>


<div class="header">

<div id="titlu"> Sistemul    Solar</div>



<div class="dropdown">
  <button class="dropbtn">Teorie</button>
  <div class="dropdown-content">
<a href="istorie.html"> Scurtă istorie a timpului &#x23F2;</a>
<a href="Soare.html">Soarele &#x2600;</a>
<a href="planete.html">Planete &#x2646;</a>
<a href="corps.html">Corpuri cerești &#x2604;</a> 
<a href="lansare.html">3,2,1.... lansare! &#x1F680; </a> 
<a href="pamant.html">Planeta noastră stranie  &#x2641;</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Aplicații</button>
   <div class="dropdown-content">
<a href="lumin.html">Luminozitatea stelară</a>
<a href="viteze.html">Gravitație și viteze cosmice</a>
<a href="varsta.html">Calcularea vârstei unei stele</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Contact | Sugestii | Reclamații</button>
   <div class="dropdown-content">
<a href="contact.php">Contactează autorul</a>

</div>
</div>
</div>
<div id="main" name="principal">


<!--<img src="mooon.png" alt="moon" width="70" height="50"  align="right">-->

<div id="mesaj" >



<h1 align="center"  font="monospace"> Hei, </h1>
<h4 align="center"  > poate ți se întâmplă ca [pe neașteptate,total întâmplător...] să îți treacă prin cap întrebări foarte relevante de genul:

<div id="divv" ><b>"Nu cumva luminițele care se mișcă pe cerul nopții sunt nave extraterestre?"</b></div><br>
<div id="divv" >"Pământul are, de fapt, forma unei pere ?"</b></div>
sau <br>
<div id="divv" ><b>"Unde se ascunde Soarele noaptea?"<b></div>

<h5  align="center" > promit că nu o să mă holbez la tine cu îngrijorare<br> și că o să pretind că ne jucăm de-a conspirația. Yey :) </h5>

<h3  align="center"  > însa...</h3>
<h4 align="center" > Gândește-te la Universul măreț și profund de misterios... <br> în care existăm cu toții și pe care îl observăm 
(mai mult sau mai puțin, dupa caz) </h4>
<h4  align="center" > Nu se merită oare să ne dorim să îl înțeleg, deși știm că nu putem face asta în totalitate, vreodată?</h4>


<br><br><br><br>
</div>
</div>
</body>
</html>