<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">

</head>


<body>


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
var mybutton = document.getElementById("myBtn");


window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
<link rel="shortcut icon" type="image/x-icon" href="Saturnn.ico">
   <title>Sistemul solar</title>
   
   <div class="sticky"><a href="jolie-home.html"><img src="sun.png" alt="sun" width="95" height="95" align="left" ></a></div>
<div class="sticky">
<a href="jolie-home.html"><img src="mooon.png" alt="moon" width="120" height="90"  align="right" style="padding-left:50px;" ></a>
</div>

<div class="header">


<div id="titlu"> Sistemul Solar</div>


<div class="dropdown">
  <button class="dropbtn">Teorie</button>
  <div class="dropdown-content">
<a href="istorie.html"> Scurtă istorie a timpului &#x23F2;</a>
<a href="Soare.html">Soarele &#x2600;</a>
<a href="planete.html">Planete &#x2646;</a>
<a href="corps.html">Corpuri cerești &#x2604;</a> 
<a href="lansare.html">3,2,1.... lansare! &#x1F680; </a> 
<a href="pamant.html">Planeta noastră stranie  &#x2641;</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Aplicații</button>
   <div class="dropdown-content">
<a href="lumin.html">Luminozitatea stelară</a>
<a href="viteze.html">Gravitație și viteze cosmice</a>
<a href="varsta.html">Calcularea vârstei unei stele</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Contact | Sugestii | Reclamații</button>
   <div class="dropdown-content">
<a href="contact.php">Contactează autorul</a>


</div>
</div>
</div>

<div id="main" name="principal">



<h1 align="center">Primele misiuni spațiale</h1> 
<br><br>
<p style="font-family:monospace;">Misiunile spațiale de la mijlocul secolului XX au avut rol științific și de comunicații și au trimis sonde 
științifice pentru a explora planetele sistemului solar, începând cu Venus și Marte, inclusiv un program de studiere a planetelor exterioare. 
Experimentele efectuate au inclus mecanica solului, meteoroizi, seismologie, transferul de căldură, reflexiile fasciculului laser, câmpul
 magnetic și vântul solar.
</p>
<img src="scheme.png"  style="width:50%; margin-bottom:60px; margin-left:230px; ">	

<h2> Primele programe spațiale:</h2><br>
<h3 id="divv"> Programul <i>Vostok</i> - aprilie 1961 (Primul om în spațiu- Yuri Gagarin)</h3><br>  
<h3 id="divv"> Programul <i>MR3 </i> - mai 1961 ( Primul american în spațiu - Alan Shepard) </h3><br> 
<h3 id="divv"> Programul <i>Saturn I SA-6</i> - 1964</h3><br> 
<h3 id="divv"> Proiectul <i>Mercury</i> - 1964 </h3><br> 
<h3 id="divv"> Proiectul <i>Gemini </i> - 1965 (Prima activitate extravehiculară americană) </h3><br> 
<h3 id="divv"> Programul <i>Apollo 11</i> - 1969 (Prima aselenizare) </h3><br> 
<h3 id="divv"> Programul <i>Space Shuttle</i> - 1981(Lansarea primei navete spațiale) </h3><br>

</div>
</body>
</html>