<html>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
</head>


<body>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
var mybutton = document.getElementById("myBtn");


window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<link rel="shortcut icon" type="image/x-icon" href="Saturnn.ico">
   <title>Sistemul solar</title>
   
   <div class="sticky"><a href="jolie-home.html"><img src="sun.png" alt="sun" width="95" height="95" align="left" ></a></div>
<div class="sticky">
<a href="jolie-home.html"><img src="mooon.png" alt="moon" width="120" height="90"  align="right" style="padding-left:50px;" ></a>
</div>

<div class="header">

<div id="titlu"> Sistemul    Solar</div>

<div class="dropdown">
  <button class="dropbtn">Teorie</button>
  <div class="dropdown-content">
<a href="istorie.html"> Scurtă istorie a timpului &#x23F2;</a>
<a href="Soare.html">Soarele &#x2600;</a>
<a href="planete.html">Planete &#x2646;</a>
<a href="corps.html">Corpuri cerești &#x2604;</a> 
<a href="lansare.html">3,2,1.... lansare! &#x1F680; </a> 
<a href="pamant.html">Planeta noastră stranie  &#x2641;</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Aplicații</button>
   <div class="dropdown-content">
<a href="lumin.html">Luminozitatea stelară</a>
<a href="viteze.html">Gravitație și viteze cosmice</a>
<a href="varsta.html">Calcularea vârstei unei stele</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Contact | Sugestii | Reclamații</button>
   <div class="dropdown-content">
<a href="contact.php">Contactează autorul</a>


</div>
</div>
</div>



<h1 align="center" style=" color:orange;font-family:monospace;">Terra</h1> 


<img src="afro.jpg"  style="width:500px; height:600px; margin-left:120px;" align="left" >
<img src="icee.jpg"  style="width:420px; height:300px;  margin-right: 130px; margin-left:20px;" align="right" >

<div id="box1">
<h1 style="padding-left:5px; padding-right:5px; font-family:Candara; padding-bottom:10px; text-align:center;">
peste <b>8000</b> de idiomuri vorbite<br><br>
576 de limbi pe cale de dispariție

 </h1>
</div>

<div id="box2">
<h2 style="padding-left:5px; padding-right:5px; font-family:Candara;">


– 193 de state membre ONU
<br>
– două state observatoare
<br>
– 11 țări incluse în categoria „alte state”

 </h2>
 
</div>


<div id="box22">
<h1 style="padding-left:5px; padding-right:5px; font-family:Candara;">
 Populație = 7.8 miliarde

 </h1>
 
</div>

<img src="girly.jpg"  style="width:420px; height:260px;  margin-right: 100px; margin-left:75px; margin-top:35px;"  >
<img src="mount.png"  style="width:700px; height:200px;  margin-left:120px; " align="left" >
<img src="beach.jpg"  style="width:200px; height:60px;  margin-left:2px; margin-right:160px;  margin-top:91px;" align="right" >


<div id="box3">
<h2 style="padding-left:5px; padding-right:5px; font-family:Candara;">

Masa pământului = 5,972*10<sup>24</sup> kg

 </h2>
</div>

<div id="box4">
<h2 style="padding-left:5px; padding-right:5px; font-family:Candara;">


 Raza = 6.371 km
 </h2>
</div>

<br><br><br><br>
</body>
</html>