<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">

</head>


<body>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
var mybutton = document.getElementById("myBtn");


window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
<link rel="shortcut icon" type="image/x-icon" href="Saturnn.ico">
   <title>Sistemul solar</title>
   
   <div class="sticky"><a href="jolie-home.html"><img src="sun.png" alt="sun" width="95" height="95" align="left" ></a></div>
<div class="sticky">
<a href="jolie-home.html"><img src="mooon.png" alt="moon" width="120" height="90"  align="right" style="padding-left:50px;" ></a>
</div>

<div class="header">


<div id="titlu"> Sistemul Solar</div>


<div class="dropdown">
  <button class="dropbtn">Teorie</button>
  <div class="dropdown-content">
<a href="istorie.html"> Scurtă istorie a timpului &#x23F2;</a>
<a href="Soare.html">Soarele &#x2600;</a>
<a href="planete.html">Planete &#x2646;</a>
<a href="corps.html">Corpuri cerești &#x2604;</a> 
<a href="lansare.html">3,2,1.... lansare! &#x1F680; </a> 
<a href="pamant.html">Planeta noastră stranie  &#x2641;</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Aplicații</button>
   <div class="dropdown-content">
<a href="lumin.html">Luminozitatea stelară</a>
<a href="viteze.html">Gravitație și viteze cosmice</a>
<a href="varsta.html">Calcularea vârstei unei stele</a>
</div>
</div>


<div class="dropdown">
   <button class="dropbtn">Contact | Sugestii | Reclamații</button>
   <div class="dropdown-content">
<a href="contact.php">Contactează autorul</a>

</div>
</div>
</div>

<div id="main" name="principal">


<div id="soare" >
<h1 align="center">Soarele</h1> 
</div>

<br><br>
<br><br>
<p>Soarele este o stea, un corp cosmic imens, masiv, ce generează energie prin reacțiile nucleare ce se produc în nucleu.
 Importanța sa pentru viața de pe Terra nu poate fi subestimată: fără Soare noi nu am exista. Totuși Soarele poate deveni
 periculos, fiind nevoie să îl monitorizăm în continuu.
</p>

<img style='height: 300px; width: 300px; margin-left:200px; align:left'  src="prot-soare.jpg" >
<img src="sunspot.jpg"  style="height: 300px; width: 300px;align: right;" >


<br><br>
<h3>Fotosfera</h3>
<p>
 Lumina orbitoare a Soarelui provine de la un înveliș de grosime mai mică de 300 km, fotosfera.
 Aceasta este cea care dă impresia că Soarele are o margine bine delimitată. 
 Temperatura fotosferei este de aprox. 5.780 Kelvin. Văzută prin telescop, 
 ea se prezintă ca o rețea de celule mici sau granule strălucitoare,
 aflate într-o permanentă agitație. Fiecare granulă este o bulă de gaz 
 de mărimea unei țări ca Franța. Ea apare, se transformă și dispare în aproximativ 10 minute.</p>
<br><br>
<h3>Cromosfera și coroana</h3>

<p>Cromosfera și coroana sunt învelișurile exterioare ale Soarelui. Ele formează așa-numita <b>atmosferă solară. </b>
În mod obișnuit nu le vedem, pentru că sunt mult mai puțin luminoase decât fotosfera. Cromosfera se ridică
 până la <strong>5.000 km</strong> de suprafața Soarelui. Ea este acoperită de mici jeturi dinamice de gaz foarte cald,<b> spiculii</b> 
 (sau spicule). </p>
 <p>Temperatura ei crește o dată cu altitudinea: în vârf, ea atinge 20.000 °C. Coroana, care îmbracă
 atmosfera, se diluează treptat în spațiu și nu are o limită exterioară bine definită. Ea este foarte rarefiată, 
 dar extrem de caldă: temperatura sa depașește 1 milion de grade. </p>

 <p>Desigur, interiorul Soarelui nu poate fi văzut, dar studierea suprafeței și a straturilor 
 sale exterioare oferă astronomilor informații despre structura sa internă. Ea conține toate elementele simple 
 identificate și pe Pământ, dar 98% din masa sa este formată din hidrogen și heliu (73% hidrogen și 25% heliu).
 
<h3> Nucleul </h3>
</p>
<p>Spre centrul Soarelui este din ce în ce mai cald, iar materia este din ce în ce mai comprimată.
 În centru temperatura ajunge la 15 milioane de grade, iar presiunea este de 100 milioane de 
 ori mai mare decat cea din centrul Pământului. În acest cuptor, atomii de hidrogen se aglome
 rează câte patru și se transformă în atomi de heliu. </p>

 <p><b>Petele solare</b> au un aspect întunecat pentru că ele sunt mai reci decât re
 giunile din jur. Ele sunt adeseori asociate în perechi, care se comportă ca polii unui enorm magnet. 
 Pot rămâne vizibile timp de mai multe săptămâni. Numărul petelor care pot fi observate pe Soare variază după un ciclu de aproximativ 11 ani.</p>

<br><br>

<h3>Activitatea solară </h3> <br>
<img src="core.jpg"  style="width:65%; padding:20px;" align="right" >
<p>
Prin activitate solară este denumit ansamblul fenomenelor nestaționare care 
au loc la suprafața și în atmosfera Soarelui, adică petele, erupțiile cromosferice,
 faculele, filamentele, protuberanțele, erupțiile radio și de radiații X. Fiind mai ușor
 accesibile observațiilor directe, petele au fost primele fenomene descoperite (Galileo Galilei în 1610).</p>
 <p>Toate celelalte fenomene solare au fost descoperite în a doua jumătate a secolului al XIX-lea și în prima
 jumătate a secolului al XX-lea. Legitățile activității solare au fost stabilite ca urmare a îndelungatelor 
 observații și statistici asupra petelor solare și asupra celorlalte fenomene solare.</p>


</div>
</body>
</html>